body {
  background: black;
}

.navbar {
  border-radius: 0;
  background-color: #222;
}

.text-light {
  color: #aaa;
}


.has-links-centered {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

authors {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-radius: 0;
  }


h1 {
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 120px;
}

h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;
  margin: 70px 0;
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 50px;
}

.image-profile {
  width: 50%;
}

.image-meme {
  width: 60%;
  margin: 15px;
}

.image-brain {
  width: 50%;
}

table
{
border-collapse: collapse;
border-spacing: 0px;
margin: auto;
}
table, th, td
{
padding: 10px;
border: 1px solid #aaa;
}

th {
  text-align: center;
}
th:hover {
  background: rgba(255, 255, 255, 0.3);
}

td:hover {
  background: rgba(255, 255, 255, 0.3);
}

footer {
  margin-bottom: 70px;
}

input {
  padding: 10px;
  border: 0;
  display: block;
  margin-bottom: 2px;
  width: 100%;
}

button {
  border: 0;
  padding: 10px;
  display: block;
  width: 100%;
  color: black;
}

button:hover {
  background: pink;
}
