body {
  background: black;
}

.navbar {
  border-radius: 0;
  background-color: #222;
}

.text-light {
  color: #aaa;
}


.has-links-centered {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;
  margin: 70px 0;
}

.image-profile {
  width: 50%;
}

.image-article {
  margin: 20px;
}

footer {
  margin-bottom: 70px;
}

input {
  padding: 10px;
  border: 0;
  display: block;
  margin-bottom: 2px;
  width: 100%;
}

button {
  border: 0;
  padding: 10px;
  display: block;
  width: 100%;
  color: black;
}

button:hover {
  background: pink;
}
