body {
  background: black;
}

#bulb {
  font-size: 200px;
}

body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: 'Handlee', cursive;
  color: #aaa;

}

#bulb:hover {
  color:white;
}
